/* ICONS */

.social-login-icons {
    display: flex;
    align-items: center;
    gap: 10px;
    -webkit-box-reflect: below 5px linear-gradient(transparent, #00000055);
  }
  .social-login-icons svg {
    width: 40px;
    color: #fff;
  }
  
  .social-icon-1,
  .social-icon-1-1,
  .social-icon-2,
  .social-icon-2-2,
  .social-icon-3,
  .social-icon-3-3,
  .social-icon-4,
  .social-icon-4-4 {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    margin: 20px 0 0px 0;
    color: #fff;
    
  }
  
  .icon svg {

    fill: white;
  }
  
  .socialcontainer {
    height: 80px;
    overflow: hidden;
  }
  .social-icon-1 {
    transition-duration: 0.4s;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);
  }
  .social-icon-1 svg,
  .social-icon-2 svg,
  .social-icon-3 svg,
  .social-icon-4 svg {
    opacity: 0;
    transition-duration: 0.5s;
    transition-delay: 0.2s;
    
  }
  .social-icon-1-1 {
    transition-duration: 0.4s;
    background-color: black;
  }
  .socialcontainer:hover .social-icon-1 {
    transform: translateY(-70px);
  }
  .socialcontainer:hover .social-icon-1 svg,
  .socialcontainer:hover .social-icon-2 svg,
  .socialcontainer:hover .social-icon-3 svg,
  .socialcontainer:hover .social-icon-4 svg {
    opacity: 1;
  }
  .social-icon-2 {
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);
    background: linear-gradient(
      72.44deg,
      #ff7a00 11.92%,
      #ff0169 51.56%,
      #d300c5 85.69%
    );
  }
  .socialcontainer:hover .social-icon-2 {
    transform: translateY(-70px);
  }
  .social-icon-3 {
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);
    background: #316ff6;
  }
  
  .socialcontainer:hover .social-icon-3 {
    transform: translateY(-70px);
  }
  .social-icon-4 {
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);
  
    background: linear-gradient(
      180deg,
      rgba(129, 34, 144, 1) 0%,
      rgba(77, 34, 124, 1) 91%
    );
  }
  
  .socialcontainer:hover .social-icon-4 {
    transform: translateY(-70px);
  }
  


/* Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: black;
    width: 100%;
    padding: 3rem 2rem;
    color: #fff;
}

footer a {
    color: #fff;
    text-decoration: none;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1550px;
}

.footer-container .about h2 {
    font-size: 3em;
    font-weight: 600;
    background: linear-gradient(to top, transparent 0%, #fff 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: .8;
}

.footer-container .about p {
    font-size: var(--normal-font-size);
    font-weight: 300;
    margin-bottom: 30px;
}

.footer-container .info,
.footer-container .follow {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer-container .info h3,
.footer-container .follow h3 {
    font-size: 1.1em;
    font-weight: 500;
    margin-bottom: 30px;
}

.footer-container .info ul,
.footer-container .follow ul {
    display: flex;
}

.footer-container .info a {
    margin: 20px;
    border-bottom: #fff;
    text-decoration: none;
}

.footer-container .follow a {
    font-size: 1.5em;
    margin: 20px;
    text-decoration: none;
}

.footer-copyright p {
    font-size: var(--normal-font-size);
    font-weight: 300;
    margin-top: 50px;
}




@media screen and (max-width: 1070px) {

    /* Footer */
    footer .footer-container {
        flex-direction: column;
    }

    .footer-container .about,
    .footer-container .info {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 50px;
    }

    .footer-container info ul {
        align-items: center;
        flex-direction: column;
    }

    .footer-container .info ul li {
        margin: 5px 0;
    }

    .footer-container .hr {
        width: 100%;
        height: 2px;
        background: rgba(255, 255, 255, 0.1);
        margin: 10px 0 22px;
    }
}

@media screen and (max-width: 730px) {

    /* Footer */
    .info ul,
    .follow ul {
        flex-wrap: wrap;
        justify-content: center;


    }

}

@media screen and (max-width: 350px) {

    .info ul,
    .follow ul {
        justify-content: center;
    }

    .info ul li,
    .follow ul li {
        margin: 3px 0;
    }
}